body {
  background-size: cover;
  background-image:linear-gradient(to bottom right, #2b2b2b, #2b2b2b);
  margin:0;
  height: 100%;
  width: 100%;
}

section1{
  display:flex;
}


.container{
  display: flex; /* permet d'aligner image et texte */
}
