/*
* Skeleton V2.0.4
* Copyright 2014, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 12/29/2014
*/


/* Table of contents
––––––––––––––––––––––––––––––––––––––––––––––––––
- Grid
- Base Styles
- Typography
- Links
- Buttons
- Forms
- Lists
- Code
- Tables
- Spacing
- Utilities
- Clearing
- Media Queries
*/


/* Grid
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.textIntro{
  margin: 30px;
  padding: 15px;
  border: 1px solid black;
    color: black;
  width: 40%;
    opacity: 0.7;

  text-align: justify;
    font-weight: bold;
  text-justify: inter-word;
    background-color: white;
}

.container2{
    background-color: white;
    opacity: 0.7;
    border: 1px solid black;
    color : black;
    font-weight: bold;

}

body {
    background-size: cover ;
    margin: 0;

  background: url("../Vue/img/background.jpg") fixed no-repeat center ;
    font-size: 1.6em; /* currently ems cause chrome bug misinterpreting rems on body element */
  line-height: 1;
  font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  }

html {
  font-size: 62.5%; }



.powered{
  width: 60%;
  min-width: 30%;
  text-align: center;
}
.legalMention{
  text-align: right;
}

 footer{

 }
 header{

 }
 h2{
     font-size: 2em;
 }

.logo{
  width: 20%;
  height: 20%;
}

li{
    border: 1px solid black;
    display: inline;
    font-size: 20px;
}