
header {
    display: flex;
    border-bottom: 2px black solid;
}

body {
    background: url(fondEcran.jpg) fixed no-repeat center;
    background-size: cover;
    margin: 0;
}


.imgpetite {
    width: 10%;
    height: 10%;
    float: left;
}

section {
    margin: auto;
    margin-top: 3%;
    margin-bottom: 3%;
    padding-left: 15px;
    padding-bottom : 1%;
    width: 85%;
    border: 2px black solid;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.8);

}

nav {
    font-family: "Cooper Black";
    margin-top: auto;
    margin-bottom: auto;
    font-size: large;

}

ul {
    list-style: none;
}

.menu li {

    border-left: 2px solid black;
    padding: 6px;
}
.menusec li {
    border-left: 2px solid black;
    padding: 6px;
}

li:first-child {
    border-left: none;
}


.menu {
    display: flex;
}

.menusec {
    display: flex;
    font-family: "Comic Sans MS";
    font-size: 1.5em;
}
.menusec a {
    color: black;
}
a:focus {
    color : rgba(255,0,0,0.8);
    text-decoration: no-underline;

}
#enCours a {
    text-decoration: none;
    color:grey;
}

.imagepp {
    margin: 30px 10px;

}

.placement {
    display: flex;
}

.placement p {
    margin: auto 20px;
    font-family: "Times New Roman";
    font-size: 2em;

}

.placement .bouton1 {
    margin-top: 40px;
    margin-left: 100px;

}

.placement .bouton2 {
    margin-top: 10px;
    margin-left: 100px;
}

.placement .boutton {
    flex-direction: column;
}

.bouton3 {
    margin-left: 80%;
    margin-bottom: 30px;
}

.formulaire li
{
    padding-bottom: 20px;
}