header{
    background-size: cover;
    background-color: #1b1b1b;
    width: 100%;
    height: 15%;
    display: flex;
}
body {
    background-size: cover;
    background-image: linear-gradient(to bottom right, #2b2b2b, #2b2b2b);
    margin: 0;
    height: auto;
    width: 100%;
}
footer{
    display:flex;
    font-family: PT sans;
    letter-spacing: 2px;
    text-transform: uppercase;
    background-size: cover;
    background-color: #454545;
    margin:0;
    width: 100%;
    height: 100%;
}




a:focus {
    color: rgba(0, 197, 85, 0.8);
    text-decoration: none;

}
.logo {
    float: left;
    width: 20%;
    height: 100%;
    margin: 0;
}
.container {
    display: flex;
}
section {
    margin: auto;
    margin-top: 3%;
    margin-bottom: 3%;
    padding-left: 15px;
    padding-bottom: 1%;
    width: 85%;
    border: 2px white solid;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0);
}
nav {
    font-family: PT sans;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-top: auto;
    margin-bottom: auto;
    font-size: 13px;
    color: white;
}
ul {
    list-style: none;
}
.menu li {
    border-left: 2px solid white;
    padding: 6px;
}
li:first-child {
    border-left: none;
}
.menu {
    display: flex;
}
.menu a {
    text-decoration: none;
    color: white;
}
.recherche {
    display: flex;
    margin: auto;
}

#searchthis #search-btn {
    background-color: #00c555; /* Couleur de fond */
    border-style: solid; /* Style de la bordure  */
    border-width: 1px; /* Epaisseur de la bordure  */
    border-color: #00c555; /* Couleur de la bordure  */
    padding: 5px;
    width: 200px; /* Permet d'ajuster la largeur du bouton à 100% */
    box-sizing: border-box;
    font-family: PT sans; /* Police du texte */
    font-size: 13px; /* Taille de la police du texte */
    letter-spacing: 2px; /* Espacement des caractères */
    margin: 10px 0 0 0; /* Espace autour du bouton : haut droite bas gauche  */
    text-transform: uppercase; /* Transforme le texte en majuscules */
    color: white; /* Couleur du texte */
}

#searchthis #search {
    border: 1px solid black;
    padding: 8px;
}
.mail {
    width:50px;
    height:30px;
    margin:auto;
    margin-left:200%;
}
.LienImage{
    margin-top:8%;
}








.logo2{
    margin: 25%;
    width: 35%;
    height: 20%;

}
.logo3{
    margin: 25%;
    margin-top: 10%;
    width: 35%;
    height: 20%;


}

.information{
    font-family: PT sans;
    font-size: 13px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: white;
}
#maison{
    color: #00c555;
}
.salon{
    border: solid;
    border-radius: 5%;
    color: white;
    margin: 55px;
    padding : 15px;
    width: 150px;
    height: 150px;
    text-align: center;
}

.cuisine{
    border: solid;
    border-radius: 5%;
    color: white;
    margin: 55px;
    padding : 15px;
    width: 150px;
    height: 150px;
    text-align: center;

}

.chambre1{
    border: solid;
    border-radius: 5%;
    color: white;
    margin: 55px;
    padding : 15px;
    width: 150px;
    height: 150px;
    text-align: center;

}
.salle_de_bain{
    border: solid;
    border-radius: 5%;
    color: white;
    margin: 55px;
    padding : 15px;
    width: 150px;
    height: 150px;
    text-align: center;

}
.chambre2{
    border: solid;
    border-radius: 5%;
    color: white;
    margin: 55px;
    padding : 15px;
    width: 150px;
    height: 150px;
    text-align: center;

}
.salle_a_manger{
    border: solid;
    border-radius: 5%;
    color: white;
    margin: 55px;
    padding : 15px;
    width: 150px;
    height: 150px;
    text-align: center;
}

 x{
     display: flex;
 }

 section{
     margin-left: 40px;
 }
.ajout {
    margin: 25%;
    text-align: center;
    color: white;
}
.deconexion {
    width:40px;
    height:40px;
    margin:auto;
    margin-left:30%;
}




#searchthis #search-btn {
    background-color: #00c555;   /* Couleur de fond */
    border-style: solid;   /* Style de la bordure  */
    border-width: 1px;   /* Epaisseur de la bordure  */
    border-color: #00c555;   /* Couleur de la bordure  */
    padding: 5px;
    width: 200px;   /* Permet d'ajuster la largeur du bouton à 100% */
    box-sizing: border-box;
    font-family: PT sans;   /* Police du texte */
    font-size: 13px;   /* Taille de la police du texte */
    letter-spacing: 2px;   /* Espacement des caractères */
    margin: 10px 0 0 0;   /* Espace autour du bouton : haut droite bas gauche  */
    text-transform: uppercase;   /* Transforme le texte en majuscules */
    color: white;   /* Couleur du texte */
}

#searchthis #search{
    border: 1px solid black;
    padding: 8px;
}




.Powered{
    color: white;
    margin: 10px;
    margin-bottom: 100px;
    font-size: small;
}
.Mentions{
    color: white;
    margin: 10px;
    margin-bottom: 100px;
    font-size: small;
}