html {
    font-size: 62.5%;
}
body {
    background: url("../Vue/img/background.jpg") fixed no-repeat ;
    background-size: cover ;
    margin: auto;
    font-size: 1.5em; /* currently ems cause chrome bug misinterpreting rems on body element */
}



.topPage{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
ul{
    margin-right: 30px;
}
li{
    border: 1px solid black;
    display: inline;
    font-size: 15px;
}
.logo{
    margin-left: 20px;
    margin-top: 20px;
    width: 50%;
    height: 90%;
}
.changeLangue{
    display: flex;
    flex-wrap: nowrap;
}




.corpPage{
    display: flex;

    flex-direction: row;/*organisés sur une ligne*/
    justify-content: space-between;/* éléments sont étirés sur tout l'axe*/
    align-items: center;/*alignés au centre*/
}
.textIntro{
    background-color: white;
    opacity: 0.7;
    border: 1px solid black;
    color: black;
    margin: 30px;
    padding: 15px;
    width: auto;
    text-align: justify;
    font-weight: bold;
    text-justify: inter-word;
}

.connexion-inscription{
    display: inline-flex;
    width: 300px;
    height: 200px;
    background-color: white;
    opacity: 0.7;
    border: 1px solid black;
    color : black;
    font-weight: bold;
    margin-right: 30px;
}

input[type=text]{
    width: 230px;
    height: 25px;
    font-size: 150%;
}
input[type=password]{
    width: 230px;
    height: 25px;
    font-size: 150%;
}
input[type=submit] {
    width: 150px;
    height: 25px;
    margin: 10px;
}








.piedPage{
    flex-direction: row;
    background-color: brown;
    color : white;

}
.powered{
    display: inline-block;
    vertical-align: top;
    position: relative;
    right: 0px;
    bottom: 0px;

}
.legalMention{

    display: inline-block;
    vertical-align: top;

}