html {
    font-size: 62.5%;
}

header{
    background-size: cover;
    background-color: #1b1b1b;
    margin: 0;
    height:25%;

}
body {
    background-size: cover;
    background-image:linear-gradient(to bottom right, #2b2b2b, #2b2b2b);
    margin: 0;
    height:50%;
}
footer {
    display: flex;
    font-family: PT sans;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: white;
    font-size: small;
    margin: 0px;
    background-size: cover;
    background-color: #454545;
    text-align: center;
    padding-bottom:70px;
}
nav {
    font-family: PT sans;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-top: auto;
    margin-bottom: auto;
    font-size: 13px;
    color: white;
}

.textIntro{
    border-radius: 20px;
    width: 400px;
    border: 2px solid white;
    padding: 15px;
    margin: 20px;
    text-align: center;
    horizontal-align: middle ;
    text-align: justify;
    color: white;
    font-size: 18px;
    font-family: PT sans;
}


.topPage{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
ul{
    margin-right: 30px;
}
li{
    display: inline;
    font-size: 15px;
}
.logo{
    width: 100%;
    height: auto;
}

.corpPage{
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.conteneur{
    display: flex;
    flex-direction: row;/*organisés sur une ligne*/
    justify-content: space-between;/* éléments sont étirés sur tout l'axe*/
    align-items: center;/*alignés au centre*/
}

.connexion-inscription{
    width: 300px;
    height: 250px;
    border-radius: 20px;
    border: 2px solid white;
    padding: 15px;
    margin: 20px;
    text-align: center;
    horizontal-align: middle ;
    text-align: justify;
    color: white;
    font-size: 15px;
    font-family: PT sans;
}

input[type=text]{
    width: 230px;
    height: 25px;
    font-size: 19px;
    margin-left: 35px;
    margin-top: 20px;


}
input[type=password]{
    width: 230px;
    height: 25px;
    font-size: 19px;
    margin-left: 35px;
    margin-right: 35px;
    margin-top: 10px;
}
input[type=submit] {
    width: 120px;
    height: 25px;
    margin-right: 35px;
    margin-left: 35px;
    margin-top: 10px;
    font-family: "PT Sans";
    text-transform: uppercase;
    letter-spacing: 2px;
    background-color: #00c555;
    color:white;
    border-radius: 10px;
    border: 2px solid #00c555;
    font-size: 13px;

}


#t{
    width:100px;
    font-family: "PT Sans";
    text-transform: uppercase;
    letter-spacing: 2px;
    background-color: #00c555;
    color:white;
    border-radius: 10px;
    border: 2px solid #00c555;
    font-size: 13px;
    margin: 10px;
    padding:3px;
}

.droite {
    position:relative;
    left:195%;
}
.centre {
    position:relative;
    left:130%;
}

.test{
    color: red;
    font-size: 150%;
}